/*
*
* MOBILE FIRST MEDIA QUERY DESIGN
*
*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.main {
  background-color: red;
}
html {
  font-size: 18px;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  body {
    padding: 20px;
  }
  .main {
    background-color: yellow;
    width: 70%;
    float: left;
  }
  .sidebar {
    width: 25%;
    float: right;
  }



}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    padding: 40px;
  }
  .page-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .main {
    background-color: green;
  }

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .page-wrapper {
    width: 60%;
  }
  .main {
    background-color: pink;
  }






}



/* print om vi ønsker det */
@media print {



}
